SECRET_KEY = 
DEBUG = 

SITE_DOMAIN = 
SITE_NAME = 

EMAIL_HOST = 
EMAIL_HOST_USER = 
EMAIL_HOST_PASSWORD = 
EMAIL_PORT = 
EMAIL_USE_TLS =  

DEFAULT_FROM_EMAIL = 


DB_NAME = 
DB_USER = 
DB_PASSWORD = 
DB_HOST = 
DB_PORT = 